@model CoSpace.Data.Entities.Pay

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<h4 style="font-family: 'Montserrat', sans-serif;">Reserva</h4>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row" style="font-family: 'Montserrat', sans-serif;">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.User!.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
</div>
