@model IEnumerable<CoSpace.Data.Entities.Pay>

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<flash dismissable="true" />

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

<h4 style="font-family: 'Montserrat', sans-serif;">Pagos</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" style="font-family: 'Montserrat', sans-serif;">
            <div class="panel-heading">
                <h5 class="panel-title">Reservas</h5>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="PaysTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User!.FullName)
           </td>
            <td>
                    <a onclick="showInPopup('@Url.Action("Edit", "Pays", new { id = item.Id }, Context.Request.Scheme)' ,
                    'Editar')" class="btn btn-outline-warning"><i class="fa fa-pencil-alt"></i> </a>
                    <a onclick="showInPopup('@Url.Action("Details", "Pays", new { id = item.Id }, Context.Request.Scheme)' ,
                    'Detalles')" class="btn btn-outline-info"><i class="fa-solid fa-list"></i></a>
                    <button data-id="@item.Id" class="btn btn-outline-danger deleteItem" data-bs-toggle="modal"
                            data-bs-target="#deleteDialog">
                        <i class="fa fa-trash"></i>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
            </div>
        </div>
    </div>
</div>

<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PaysTable').DataTable({
                "language": {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>
    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Pays/Delete/', false);
    </script>

}
